@font-face {
    font-family: 'Raleway-Regular';
    src:  url('Raleway-Regular.ttf') format('truetype');
}


html, body
{
font-family: 'Raleway-Regular';
}
.DecorationNone{
    text-decoration: none;
}
h5 {
    color: grey;
}

.FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.FlexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.FlexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* NAV */
.sizeNav{
    height: 100px;
}
.LinkSize1{
    width: 45%;
}
.LinkSize2{
    width: 140px;
    height: 99px;
}
.colorlink1{
    color: blue;
}
.colorlink2{
    color: black;
}
.bordureNav{
    border-top: 1px solid blue;
}
}
.bordureNav23{
    border-top: 1px solid transparent;
}
.marglogo{
    margin-bottom: 7px;
}
